
@mixin Row($content, $items, $position: none){
    display: Flex;
    justify-content: $content;
    align-items: $items;
    position: $position;
}

@mixin Gradient($primary, $secondy){
    background: linear-gradient($primary, $secondy)
}
