@import '../../sass/sass-utils/_variables'
.slide
    height: 50%
    width: 50%
    .carousel-control-prev
        .prev-icon
            color: $button
        .carousel-control-next
            .next-icon
                color: $button
